.content-editor:focus {
  outline: none;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-quote {
  border-left: 4px solid #575757;
  padding: 12px;
  font-style: italic;
  margin-left: -1rem;
}

.editor-heading-h1 {
  font-size: 2rem;
  padding: 1rem 0;
}
