.editor-first-heading::after {
  content: "Tell your story"; /* Uses the value of the "data-placeholder" attribute */
  color: grey;
  position: absolute;
  top: 0;
  left: 0;

  /* Adjust padding as necessary */
  pointer-events: none; /* Allows interaction with the underlying element */
  opacity: 0.5;
  font-size: 1.75rem;
  padding: 1rem 0;
}

.editor-first-heading {
  position: relative;
}
